*{
    margin: 0;
    box-sizing: border-box;
}



/* Basic styling for the body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('/static/img/mp.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

.heading{
    background-color: blueviolet;
    color: white;
    height:100px;
    text-align: center;
    padding: 20px;
    border-radius: 0 0 20% 20%;
    text-transform: uppercase;
}

.nav ul{
   list-style-type: none;
   margin: 1%;
   padding: 0.4%; 
   height: 25px;
   text-align: center;
   background-color: blueviolet;
}

.nav ul li{
    display: inline;
    margin-right: 20px;
}

.nav ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

#login{
    background-color: blueviolet;
    color: black;
    border-style: solid;
    font-weight: bold;
}

.nav ul li a:hover{
    color: white;
    text-decoration-line: underline;
}

.about{
    color: white;
    top: 40%;
    left: 50%;
    position: absolute;
}

.ab_img{
    top: 35%;
    right: 60%;
    border-style: solid;
    color: white;
    position: absolute;
}

.login{
    top: 45%;
    right: 50%;
    border-style: solid;
    color: white;
    text-align: center;
    position: absolute;
}

.login h2{
    background-color: blueviolet;
    border-style: solid;
    text-transform: uppercase;
}

.login button{
    background-color: blue;
    width: 150px;
    height: 25px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}

.login button:hover{
    background-color: blueviolet;
}

.reg{
    top: 30%;
    right: 50%;
    border-style: solid;
    color: white;
    text-align: center;
    position: absolute;
}

.reg h2{
    background-color: blueviolet;
    border-style: solid;
    text-transform: uppercase;
}

.reg button{
    background-color: blue;
    width: 150px;
    height: 25px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}

.reg button:hover{
    background-color: blueviolet;
}